body {
    background-color: black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
}

.glitch {
    color: white;
  font-size: 4rem;

  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fc00ff;
    transition: text-shadow 0.3s ease;
}

.glitch:hover {
  animation: glitch 375ms infinite;  /* 호버 시 애니메이션 시작 */
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
    transition: text-shadow 0.3s ease;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  transition: text-shadow 0.3s ease;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}


/* 로그아웃 버튼 */
.logout-button, .logout-button::after {
    position: relative;
    width: 180px;
    height: 40px;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #ffffff 5%);
    border: 0;
    color: black;
    letter-spacing: 2px;
    line-height: 50px;
    box-shadow: 3px 3px 0 #cff4fc;
    outline: transparent;
    cursor: pointer;
    margin-top: 10px;
}

.logout-button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #cff4fc 3%, #cff4fc 5%, #cff4fc 5%);
    text-shadow: -2px -2px 0 #cff4fc, 2px 2px 0 #cff4fc;
    clip-path: var(--slice-0);
}

.logout-button:hover::after {
    animation: glitch 1s steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-10px, -5px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(5px, 5px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-5px, 5px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 2px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-2px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(2px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(2px, 5px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 5px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(10px, -5px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-5px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

/* 기본적으로 테두리 숨기기 */
.textarea {
    border: none; /* 기본 테두리 숨김 */
    outline: none; /* 기본 외곽선 제거 */
    transition: border 0.3s ease; /* 부드러운 효과 */
        }

/* 클릭(포커스) 상태에서만 테두리 보이게 */
.textarea:focus {
    border: 2px solid #cff4fc; /* 클릭 시 파란색 테두리 */
        }

.profile-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
        }

.container {
            top: 0;
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.pur {
    color: white;
}

.detail {
    color: black;
}

h4 {
    color: white;
}

h5 {
    color: #adb5bd;
}