
<div class="mb-2">
        <nav class="nav justify-content-center nav-pills nav-justified fixed-top">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'main.guitar_memes' %}active{% endif %}"
                   href="{{ url_for('main.guitar_memes') }}" style="color: white;"><b>Meme Dictionary</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'main.community' %}active{% endif %}"
                   href="{{ url_for('main.community') }}" style="color: white;"><b>Community</b></a>
            </li>
        </nav>

        </nav>
</div>